.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 29px;
  justify-content: center;
  padding: 100px 128px;
  row-gap: 50px;
  width: 1184px;
  margin: 0 auto;
}

.divTitle {
  display: flex;
  justify-content: center;
}

.favTitle {
  font-size: 36px;
  line-height: 30px;
  font-weight: 800;
  position: relative;
  top: 70px;

  letter-spacing: 1.1px;
  color: #252525;
}

.margin {
  margin-top: 100px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 29px;

  padding: 50px 128px 100px 128px;
  row-gap: 50px;
  max-width: 1440px;
  margin: 0 auto;
}

.container > li {
  width: calc(25% - 22px);
  height: 268px;
  border-radius: 14px;
  background-color: #1214171c;

  display: inline-block;
  mask: linear-gradient(90deg, #000 25%, #0005, #000 75%) right/250% 100%;
  animation: shimmer 2.5s infinite;
  background-repeat: no-repeat;
}

.btnContainer {
  width: '100%';
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}

@keyframes shimmer {
  100% {
    mask-position: left;
  }
}
