.section {
  max-width: 1440px;
  display: flex;
}

.navBar {
  padding-left: 128px;
  padding-right: 128px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.main {
  max-width: 1440px;
}
