.section {
  max-width: 1440px;
  display: flex;
  justify-content: center;
}

.navBar {
  padding-left: 162px;
  padding-right: 162px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 859px;
}
.main {
  max-width: 1440px;
}
