.mainContainer {
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: rgb(250, 250, 250);
  padding: 100px 200px 100px 100px;
  background-image: url('../../assets/download1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.mainTitle {
  font-weight: 600;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  width: 600px;

  filter: drop-shadow(0 2mm 1mm rgb(54, 54, 55));
}

.bottomText {
  width: 800px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 60px;
  position: relative;

  filter: drop-shadow(0 2mm 1mm rgb(54, 54, 55));
}
